@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Julee');
@import url('https://fonts.googleapis.com/css?family=Aladin');
@import url('https://fonts.googleapis.com/css?family=Kalam');

.greeting{
    font-family:'Monoton', cursive;
    color: white;
    padding-top: 50px;
    padding-left: 15%;
    
}

.nav{
    font-size: 30px;
    padding-top: 5px;
    padding-left: 70%;
}
.era{
    font-family:'Julee', cursive;
    color: white;
    padding-top: 10px;
    /* padding-left: 50px;  */
}
.venue{
    color: white;
    font-size: 20px;
    padding-top: 30px;
    font-family:'Aladin', cursive;

}
.event{
    font-size: 20px;
    font-family:'Kalam', cursive;
}
.count{
    font-size: 50%;
}