@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

.greeting{
    font-family:'Bungee Shade', cursive;
    color: white;
    
}
.welcome{
    font-size: 20px;
    padding-top: 40px;
    padding-left: 20%;

}
.nav{
    font-size: 30px;
    padding-top: 10px;
    padding-left: 70%;
}